body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 16px;
    padding-bottom: 64px;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content {
    padding-left: 250px;
    padding-right: 250px;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: bold;
}

.left-links {
    margin-left: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.awesome-big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-small {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.hero-main {
    display: flex;
    gap: 40px;
}

button {
    padding: 6px 26px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

.image {
    height: 120px;
    width: 120px;
    border-radius: 26px;
}

.image-and-caption {
    display:flex;
    align-items: center;
  }