body {
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 16px;
    padding-bottom: 64px;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.content {
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 64px;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    gap: 28px;
    align-items: center;
}

.quote-section {
    background-color: #E5E7EB;
    padding-top: 64px;
    padding-left: 250px;
    padding-right: 250px;
    padding-bottom: 64px;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.call-to-action-section {
    padding-top: 64px;
    padding-left: 250px;
    padding-right: 250px;
    font-family: roboto, Helvetica, Arial;
    margin-bottom: 70px;
}

.footer {
    padding-left: 250px;
    padding-right: 250px;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #1F2937;
    color: white;
    font-weight: bold;
    font-family: roboto, Helvetica, Arial;
    display: flex;
    justify-content: center;
}

.call-to-action {
    background-color: #3882F6;
    padding: 40px 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-around;
}

.call-to-action-big, .call-to-action-small {
    color: #F9FAF8;
}

.call-to-action-big {
    font-size: 18px;
    font-weight: bold;
}

.quote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.quoter {
    font-size: 24px;
    font-weight: bold;
    color: #1F2937;
    text-align: end;
}

.images {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding-top: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
}

.navbar a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    font-weight: bold;
}

.left-links {
    margin-left: auto;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

.awesome-big {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.awesome-small {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: 300;
}

.hero-main {
    display: flex;
    gap: 40px;
}

button {
    padding: 6px 26px;
    border-radius: 8px;
    background: #3882F6;
    border: 1px solid #3882F6;
    color: white;
    font-weight: bold;
    margin-top: 10px;
}

button.sign-up-bottom {
    border: 2px solid #E5E7EB;
}

.image {
    height: 120px;
    width: 120px;
    border-radius: 26px;
}

.img-and-caption {
    display:flex;
    flex-direction: column;
    align-items: center;
  }

.text {
    text-align: center;
}